body{
     background-image: url(faro5.jpg);
    background-position: center center;
    background-repeat no-repeat;
    background-size: cover;
    background-attachment:  fixed;
    
.inicio{ 
    width: 1000px; 
    font-family: Arial, Helvetica, sans-serif;
     font-size: 50px; 
    position: relative;
    left: 50px;
    top:200px;
    font-family: fantasy;
    color: rgb(0, 0, 0);
    text-align:center;
     align-items: center;
      justify-content: center;}
.oculto{
    font-family: Arial, Helvetica, sans-serif;
     font-size: 20px;
     color: rgb(75, 48, 116);
       text-align:center;
        position: relative;
    left: 120px;
    top:800px;
      
}
.pollito{
      position: relative;
      width: 800px; 
      top:100px;
      left:120px;
      image-resolution: ;              
      -ms-flex-align: center;
      align-items: center;
      justify-content: center;
      }                  
.foto2{
    width: 340px;    
    position: absolute;
    top:700px;
    left: 10px;
    

}

.no2{width: 340px;
    position: absolute;
    top: 700px;
    left: 400px;

}


.yes{ color: rgb(8, 118, 186);
    width: 1200px; 
    position: relative; 
    text-align: center;
    top: 400px;
    left: 50px;
     justify-content: center;
     background-image: url(babymetal.webp);
     border: 2px solid black ;
     border-radius: 50px;
     cursor: pointer;
     padding: 15px;
     text-decoration: none;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 15px;
     font-style: italic; 
   
    
     transition: 5s ease;
    }
    .yes:hover {
        background-image: url(fotos/abrazopollo.gif);

    }
    
.no{ color: rgb(8, 118, 186);
    width: 1200px; 
    position: relative; 
    text-align: center;
    top:400px;
    left: 100px;
    justify-content: center;
    background-image: url(babymetal.webp);
    border: 2px solid black ;
    border-radius: 50px;
    cursor: pointer;
    padding: 10px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-style: italic; 
    
    }
        
    .no:hover{ background-image: url(triste.gif);
         
        }
.nampa{
    width: 400px;
    position: absolute;
    top: 0px;
    left: 200px;

}
}

